/* header-footer.css */

header {
    background-color: #1e1e1e; /* Dark gray */
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header h1 a {
    color: #fff;
    text-decoration: none;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    transition: transform 0.5s ease-in-out;
}

header nav li {
    margin: 0 20px; /* Space between navigation links */
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

header nav a:hover {
    color: #00bfff;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: #fff;
    margin-bottom: 4px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

footer {
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsive */
@media (max-width: 768px) {
    header {
        justify-content: space-between;
    }

    header nav {
        position: absolute;
        top: 100%;
        right: 0;
        width: 200px;
        background-color: #1e1e1e;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        z-index: 1000;
    }

    header nav.active {
        transform: translateX(0);
    }

    header nav ul {
        flex-direction: column;
        padding: 20px;
    }

    header nav li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
    }
}